/* CSS Variables for easy theme management */
:root {
  --highlight-blue: #0151ad;  /* Blue color for highlighting */
  --select-yellow: #FFC107;   /* Yellow color for selection */
  --white: #ffffff;           /* Standard white color */
}

/* Universal box-sizing for consistent element rendering */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Styling for the scrollbar in WebKit browsers */
/* Width and height of the entire scrollbar */
::-webkit-scrollbar {
  width: 8px;  /* for vertical scrollbars */
}

/* Track of the scrollbar, which includes the background */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the tracking area */
  border-radius: 10px;
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #888; /* color of the scroll thumb */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb on hover */
}

/* Styling for the extension's popup */
.extension-popup {
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: 100%; /* Full width to fill the popup */
}

/* Container at the top of the popup */
.top-container {
  display: flex;
  align-items: center; /* Vertically centers items */
  margin-bottom: 5px;
  margin-inline: auto;
  overflow-x: hidden; /* Prevents horizontal overflow */
}

/* Search input field styling */
#search-input {
  flex-grow: 1; /* Allows the input to grow and fill available space */
  border: 1px solid #ccc; /* Light grey border */
  padding: 5px;
  border-right: none; /* Removes the right border */
}

/* Search input field focus styling */
#search-input:focus {
    outline: none; 
    border: 2px solid #ccc; 
}

/* Search button styling */
#search-button {
  width: 50px; /* Fixed width */
  background-color: green;
  color: white;
  border: 1px solid green; /* Green border */
  padding: 5px 10px;
  cursor: pointer;
  outline: none; /* Removes default outline */
}

/* Search button active state styling */
#search-button:active {
  background-color: yellowgreen;
}

/* Results counter styling */
#results-counter {
  margin-left: 5px; /* Space from adjacent elements */
  text-wrap: nowrap;
  font-size: 12px;
}

/* Language dropdown styling */
#language-dropdown {
    border: 1px solid #ccc;
    padding: 5px 7px;
    background-color: white;
    font-size: 14px;
    max-width: 90px; 
    margin-left: 5px;
    cursor: pointer;
}

/* Individual result item container styling */
.result-item-container {
  background-color: #FFDD57;
  color: black;
  padding: 5px;
  margin: 1px;
  cursor: pointer;
  font-size: 11px;
  word-wrap: break-word; /* Prevents text overflow */
}

/* Hover state for result items */
.result-item-container:hover {
  background-color: var(--select-yellow);
}

/* Hover and focus states for language dropdown */
#language-dropdown:hover, #language-dropdown:focus {
    outline: none;  /* Removes default outline */
    background-color: #d3d3d3; /* Light grey on hover/focus */
}

/* Highlighted item styling */
.highlighted-item{
  background-color: var(--highlight-blue); /* Blue background */
  color: white;
  padding: 2px;
  font-weight: 600;
}

/* Floating right element in result items */
.result-time{
  float: right;
}

/* Container for all results */
#results-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Scrollable */
  max-height: 300px; 
}

/* Styling for selected items */
.selected-item {
  background-color: var(--select-yellow); /* Yellow background */
  color: white;
}

/* Toggle button styling */
#case-toggle {
  background-color: white; /* White background */
  border: 1px solid #ccc; /* Light grey border */
  margin-left: 5px; /* Space from adjacent elements */
  color: #888;
}

/* Search wrapper for positioning */
.search-wrapper {
  position: relative;
  flex-grow: 1; /* Allows growth to fill space */
}

/* Additional styling for search input */
#search-input {
  padding-right: 30px; /* Space for the icon inside the input */
}

/* Styling for case toggle button */
#case-toggle {
  position: absolute; /* Absolute positioning inside the search wrapper */
  right: 0; /* Align to the right */
  top: 0; /* Align to the top */
  border: none; /* No border */
  background: none; /* Transparent background */
  padding: 5px; /* Padding for alignment */
  cursor: pointer;
}

/* Styling for active case toggle */
#case-toggle.active-case {
  color: var(--highlight-blue); /* Highlight blue when active */
  font-weight: 400;
}
