:root {
  --highlight-blue: #0151ad;
  --select-yellow: #FFC107;
  --white: #ffffff;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* Width and height of the entire scrollbar */
::-webkit-scrollbar {
  width: 8px;  /* for vertical scrollbars */
}

/* Track of the scrollbar, which includes the background */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the tracking area */
  border-radius: 10px;
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #888; /* color of the scroll thumb */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scroll thumb on hover */
}

.extension-popup {
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: 100%; /* Full width to fill the popup */
}

.top-container {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  margin-bottom: 5px;
  margin-inline: auto;
  overflow-x: hidden;
}

#search-input {
  flex-grow: 1; /* Allows the input to grow and fill the space */
  border: 1px solid #ccc; /* Example border, can be styled as needed */
  padding: 5px;
  border-right: none; /* Removes the right border to integrate with the button */
}

#search-input:focus {
    outline: none; 
    border: 2px solid #ccc; 
}

#search-button {
  width: 50px; /* Fixed width for the button */
  background-color: green;
  color: white;
  border: 1px solid green; /* Same color as the button for integration */
  padding: 5px 10px;
  cursor: pointer;
  outline: none; /* Removes the outline to integrate with the search bar */
}

#search-button:active {
  background-color: yellowgreen;
}

#results-counter {
  margin-left: 5px; /* Space between the button and counter */
  text-wrap: nowrap;
  font-size: 12px;
}

#language-dropdown {
    border: 1px solid #ccc;
    padding: 5px 7px;
    background-color: white;
    font-size: 14px;
    max-width: 90px; 
    margin-left: 5px;
    cursor: pointer;
}

.result-item-container {
  background-color: #FFDD57;
  color: black;
  padding: 5px;
  margin: 1px;
  cursor: pointer;
  font-size: 11px;
  word-wrap: break-word; /* Ensure long words do not overflow */
}

.result-item-container:hover {
  background-color: var(--select-yellow);
}

#language-dropdown:hover, #language-dropdown:focus {
    outline: none;  /* Removes the default focus outline */
    background-color: #d3d3d3; /* Light grey */
}


.highlighted-item{
  background-color: var(--highlight-blue);
  color: white;
  padding: 2px;
  font-weight: 600;
}


.result-time{
  float: right;
}

#results-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Makes it scrollable */
  max-height: 300px; 
}

.selected-item {
  background-color: var(--select-yellow); /* or any other color that stands out */
  color: white;
}

#case-toggle {
  background-color: white; /* Match the background color with your design */
  border: 1px solid #ccc; /* Match the border style with your design */
  margin-left: 5px; /* Add some space between the toggle and the "Go" button */
  color: #888;
}


.search-wrapper {
  position: relative;
  flex-grow: 1; /* Allows the input to grow and fill the space */
}

#search-input {
  padding-right: 30px; /* Make room for the icon inside the input */
}

#case-toggle {
  position: absolute; /* Position the button inside the search-wrapper */
  right: 0; /* Align to the right */
  top: 0; /* Align to the top */
  border: none; /* No border for the toggle button */
  background: none; /* No background to blend in with the input */
  padding: 5px; /* Padding to match the input field */
  cursor: pointer;
}

/* Adjust the icon size and alignment if necessary */


#case-toggle.active-case {
  color: var(--highlight-blue); /* The color you want when the toggle is active */
  font-weight: 400;
}